    * {
        font-family: 'Nunito', sans-serif;
    }
    
    body {
        background: url(./Images/Field.jpg);
        background-size: cover;
    }
    
    .header {
        background-color: rgb(5, 27, 99);
        border-style: solid;
        border-width: 2px;
        height: 65px;
        color: white;
        text-align: center;
        background-size: cover;
        height: 100px;
    }
    
    h1 {
        margin: 3px;
        color: chocolate;
    }
    
    h2 {
        margin-top: 2%;
        margin-left: 3%;
        color: chocolate;
    }
    
    h3 {
        margin-left: 31%;
        color: chocolate;
    }
    
    p {
        background: rgb(228, 225, 225);
    }
    
    .container {
        float: right;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        height: 350px;
        width: 70%;
        margin-bottom: 10px;
    }
    
    .cardContainer {
        background-color: rgb(228, 225, 225);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
        float: right;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
    }
    
    .searchCard {
        position: fixed;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        width: 20%;
        height: 100%;
    }
    /* Style the search field */
    
    .searchInput[type=text] {
        font-size: 17px;
        border: 1px solid grey;
        width: 50%;
        margin-left: 3%
    }
    /* Style the submit button */
    
    .searchInput {
        padding: 10px;
        color: white;
        font-size: 17px;
        /* Prevent double borders */
        cursor: pointer;
        align-items: center;
    }
    /* Clear floats */
    
    .searchInput {
        content: "";
        clear: both;
        display: table;
    }
    
    .submitBtn {
        height: 30px;
        width: 60px;
        margin-left: 35%;
        font-size: 15px;
    }